{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    {{form(form)}}
    <ul> Categories
    {% if categories is defined %}
        {% for category in categories %}
            <li>{{ category.title }}</li>
        {% endfor %}
    {% endif %}
    </ul>
    <ul>
    {% if images is defined %}
        {% for image in images %}
            <li><img src="{{ (image.path)}}" alt=""></li>
        {% endfor %}
    {% endif %}
    </ul>
</div>
{% endblock %}
